__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
data/**/*.csv
!data/sample.csv
.vscode/
scripts/**/*.xlsx
NetworkEngin.session.sql
extract_m_values.py
tests/
.venv/
KPIV2.session.sql
NetworkEngin.session.sql